<!DOCTYPE html>
<head>
    <title> Draw Anything </title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script type="text/javascript" src="/static/connect.js"></script>

    <link rel="stylesheet" type="text/css" href="/static/index.css"/>

    <script src='/static/colorselector/spectrum.js'></script>
    <link rel='stylesheet' href='/static/colorselector/spectrum.css' />
</head>

<body onload="InitThis();" style="margin:0px;width:100%;height:100%;">
    <nav class="indigo darken-2">
        <div class="container nav-wrapper">
            <a href="/" class="brand-logo center">WeDraw</a>
        </div>
    </nav>

    <div class="row">

        <div class="col s2">
            <p class="range-field">
            Stroke Width:
            <input type="range" id="stroke" min=1 max=50 value=5 />
            </p>
        </div>

        <div class="col s2 offset-s2">
            Color:<br>
            <input type='text' id="color"/>
        </div>

        <div class="col s4 offset-s8">
            <button class="btn" id="clear-button"> Clear Screen </button>
        </div>
    </div>

    <div id="show_user">
    </div>

    <canvas id="myCanvas" style="border:2px solid black">
</body>
