<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile Page</title>

    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/static/materialize/css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 

</head>
<body>
<div class="container">

    <br><br>
    <h1 class="header center black-text">WeDraw</h1>
    <br><br>
</div>

    <div class="container"> 
    <!--Login panel-->
        <div class="row center ">
            <form method="post">
 
            <div class="input-field col s6 offset-s3">
           
                    <input name="profileName" type="text" >
                    <label for="profileName">Name</label>

            </div>
            
            <div class="input-field col s6 offset-s3">

                <input name="sessionId" type="number">
                <label for="sessionId">SessionID</label>
            </div>
            <div class="container center">
                <br>
                <button id="submitBtn" class="btn waves-effect" type="submit" value="Submit">Enter</button>
            </div>    
            </form>
        </div>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="/static/materialize/js/materialize.min.js"></script>
</body>
</html>
